/**
 * Takoyaki SASS Stylesheet
 * =========================
 *
 * Main stylesheet of the application.
 */

/**
 * Variables.
 */
$lace: #fdf5e6;
$black: #343434;
$red: #b22222;
$orange: #ff8c00;
$white: #ffffff;

/**
 * Overrides.
 */

// Bootstrap
$btn-border-radius: 0;
$btn-primary-bg: $black;

$progress-border-radius: 0;
$progress-bar-bg: $black;
$progress-height: 10px;
$progress-bar-animation-timing: .5s linear infinite !default;

// React-Select
$select-input-border-radius: 0;
$select-input-bg: $lace;
$select-input-border-color: $black;
$select-input-border-focus: $black;
$select-option-focused-bg: $black;
$select-option-focused-color: $white;

/**
 * Imports.
 */
@import '~bootstrap/scss/bootstrap.scss';
@import '~fixed-data-table/dist/fixed-data-table-base.min.css';
@import '~react-select/scss/default.scss';

@import './data-table.scss';

/**
 * Component overrides.
 */
.progress-bar-striped {
  @include gradient-striped($lace, 45deg);
  background-size: $progress-height $progress-height;
}

/**
 * Layout.
 */
html, body, #app {
  height: 100%;
}

body {
  background-color: $lace;
  font-family: Lato, sans-serif;
  border-top: 5px solid $black;
  color: $black;
}

#wrapper {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.full-height {
  height: 100%;
}

.monospace {
  font-family: Monospace;
}

#main-menu {
  border-right: 1px solid $black;
}

#steps {
  height: 100%;
  list-style-type: none;
  padding: 10px;
  margin: 0;

  & > li {

    & > .step-item {
      cursor: pointer;
      padding: 5px;
      margin-bottom: 5px;

      border: 1px solid $black;

      & > a {
        color: $black;

        &:hover {
          text-decoration: none;
        }
      }
    }

    &.active > .step-item {
      background-color: $black;
      color: $white;
    }

    // Recipes
    & > .clustering-submenu {
      padding: 0px 10px;

      .clustering-recipes {
        list-style-type: none;
        margin: 0;

        & > .clustering-recipe-item {
          cursor: pointer;
          padding: 5px;
          margin-bottom: 5px;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
}

#page {
  .top-menu {
    height: 110px;
    border-bottom: 1px solid $black;

    & > .menu-content {
      height: 100px;
      padding: 10px;

      .description {
        font-size: 0.8em;
      }
    }
  }

  .content {
    height: calc(100% - 160px);
    overflow-y: scroll;
  }

  .bottom-menu {
    height: 50px;
    padding-right: 20px;
    border-top: 1px solid $black;
    padding: 5px;

    button {
      position: absolute;
      right: 5px;
    }
  }
}

/**
 * Pages.
 */
#page-upload {

  .dropzone {
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: stretch;

    & > div, & > div > div {
      width: 100% !important;
    }

    & > div {
      border-radius: 0px !important;
      border-color: $black !important;
      text-align: center;
    }

    .data-table {
      height: calc(100% - 10px);
    }
  }
}

#page-clean {

  .table-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;

    .data-table {
      width: 100%;
      height: 100%;
    }
  }
}

#page-clusters {
  padding: 10px;
}
