/**
 * Takoyaki SASS Stylesheet
 * =========================
 *
 * Main stylesheet of the application.
 */
@import '~bootstrap/scss/bootstrap.scss';

/**
 * Variables.
 */
$lace: #fdf5e6;
$black: #343434;
$red: #b22222;
$orange: #ff8c00;
$white: #ffffff;

/**
 * Layout.
 */
html, body, #app {
  height: 100%;
}

body {
  background-color: $lace;
  font-family: Lato, sans-serif;
  border-top: 5px solid $black;
  color: $black;
}

#wrapper {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.full-height {
  height: 100%;
}

#main-menu {
  border-right: 1px solid $black;
}

#steps {
  list-style-type: none;
  padding: 10px;

  & > li {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;

    border: 1px solid $black;

    & > a {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      background-color: $black;
      color: $white;
    }
  }
}

#page {
  .top-menu {
    height: 100px;
    border-bottom: 1px solid $black;
    padding: 10px;

    .description {
      font-size: 0.8em;
    }
  }

  .content {
    height: calc(100% - 150px);
  }

  .bottom-menu {
    height: 50px;
    border-top: 1px solid $black;
  }
}

/**
 * Pages.
 */
#page-upload {

  .dropzone {
    padding: 50px;

    & > div, & > div > div {
      width: 100% !important;
    }

    & > div {
      text-align: center;
    }
  }
}
